.Header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  -webkit-box-shadow: -1px 2px 5px 0px rgba(14, 10, 10, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(4, 10, 10, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(4, 10, 10, 0.75);
  padding: 7px 20px;
  position: fixed;
  width: 100%;

  &_logo {
    display: flex;
    align-items: center;

    p {
      font-weight: bold;
      font-size: 22px;
    }
  }
  &_navbar {
    display: none;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        padding: 6px;
        list-style: none;
        border-radius: 10px;
        opacity: 1;
        a {
          text-decoration: none;
          color: var(--white);
        }
      }
      li:nth-child(2):hover,
      li:nth-child(3):hover,
      li:nth-child(4):hover {
        opacity: 0.5;
      }
    }
  }
  .MenuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24 px;
    height: 24 px;
    background-color: white;
    border-radius: 5px;
  }
  @media screen and (min-width: 768px) {
    &_navbar {
      display: block;
    }
    .MenuIcon {
      display: none;
    }
  }
}
