.SocialButton{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid var(--skyblue);
    margin: 5px;
    background-color: var(--gray);
    color: var(--skyblue);
    cursor: pointer;
}